@import 'checkbox';

$font-size: 14px;
$link-color: #1c9a79;
$hover-color: #777;
$montserrat-font-family: 'Montserrat', sans-serif;
$open-sans-font-family: 'Open Sans', sans-serif;
$radius-small: 5px;
$border-width-one: 1px;

@mixin shadow($start, $stop) {
    box-shadow: #1c9a79;
}

* {
    padding: 0;
    margin: 0;
}

.box-btn {
    border: solid $border-width-one transparent;
    border-radius: $radius-small;
    background-color: red;
    color: #fefefe !important;
    font-weight: 400;
}

.box-btn:hover {
    color: black;
}

.wrapper {
    padding: 0;
    margin: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #191919;
}

nav {
    background: transparent;
    .bg-light {
        background-color: transparent;
    }
    a.navbar-brand {
        img {
            width: 120px;
            height: auto;
        }
    }
    .navbar-nav {
        .nav-item {
            margin-left: 4em;
        }
        .nav-link {
            color: #777;
            font-weight: 200;
        }
        .nav-link.login {
            background-color: red;
            color: white !important;
            border-radius: 7px;
            padding-left: 2em;
            padding-right: 2em;
        }
    }
    
}
.mt-10 {
    margin-top: 5em;
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-6 {
    font-size: 1.45rem;
    font-weight: 300;
    line-height: 1.2;
}
.hero-img {
    height: 220px;
    margin-top: -32px;
}
.lead1 {
    font-size: 1.45rem;
    font-weight: 300;
}
.lead3 {
    font-size: 1.30rem;
    font-weight: 300;
}
.lead2 {
    font-size: 1.6rem;
    font-weight: 200;
    .fas {
        width: 50px;
        color: #777;
        margin-right: 1em;
    }
}

.bold2 {
    font-size: 1.6rem;
    font-weight: 800;
}
.gap1 {
    display: block;
    width: 100%;
    height: 100px;
    clear: both;
}
.gap3 {
    display: block;
    width: 100%;
    height: 50px;
    clear: both;
}
.gap2 {
    display: block;
    width: 100%;
    height: 200px;
    clear: both;
}
.red1 {
    color: #ff0000;
}
.red1-bg {
    background-color: #ff0000 !important;
    border: 1px solid #ff0000;
}
.color1 {
    color: #ffb3ef;
}
.grey1 {
    color: #757779;
}
.bold {
    font-weight: bold;
}
.call-div {
    color: white
}
.pry-bg {
    background-color: #004560;
}
.text-uppercase {
    text-transform: uppercase;
}
.progress-sm {
    height: .5em;
}
.progress-lg {
    height: 2em;
}
.mid-section {
    min-width: 100%;
    min-height: 400px;
    background-image: url('../images/mid-section-bg.jpg');
    background-size: cover;
    position: relative;
    margin-bottom: 250px;

    .mid-section-right {
        width: 50%;
        margin-left: 50%;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 100px;

        .view-lb {
            margin: 3.5em;
            a {
                color: white;
            }
        }
    }

    .score-item {
        h4 {
            color: white;
            font-weight: 500;
            font-size: 1.6em;
            margin: 0;
            margin-bottom: -8px;
        }
        big {
            color: #d8ecef;
            font-weight: 800;
            font-size: 3.5em;
        }
        h6 {
            color: white;
            font-weight: 500;
            font-size: 1.6em;
            margin: 0;
        }
    }
}
.quiz-banner {
    width: 40%;
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: white;
    padding: 120px 100px 50px;
    flex-direction: column;
    box-shadow: 5px 1px 40px 2px rgba(60, 64, 67, 0.15), 2px 1px 19px 1px rgba(60, 64, 67, 0.109);

    .quiz-image-banner {
        width: 100%;
        height: 100%;
    }

    .text-ribbon-btn {
        width: 80%;
        height: auto;
        margin: 2em 10%
    }
    .quiz-btn-div {
        padding-top: 100px;
    }
}
.quiz-btn {
    display: inline;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00455e;
    border: 1px solid transparent;
    padding: 0.6rem 5.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pry-btn {
    display: inline;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00455e;
    border: 1px solid transparent;
    padding: 0.6rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pry-color {
    color: #00455e !important;
}
.d-flex-column {
    flex-direction: column;
}
.py30 {
    padding: 3em 0;
}
.logo {
    width: auto;
    height: 70px;
}
.px2 {
    padding-left: 2em;
    padding-right: 2em;
}
.footer {
    background-color: #d9d9d9;
    padding: 3em 0;
}
.login-wrapper {
    background-color: #67cac8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.login-form {
    background-color: white;
    display: flex;
    position: absolute;
    bottom: 2em;
    top: 2em;
    left: 2em;
    right: 2em;
    padding: 1em;
}
.login-form-wrapper {
    padding: 1em;
    overflow-y: scroll;
    display: flex;
    flex: 1;
}
.fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mfit {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.carousel-caption {
    position: static;
}
.carousel-caption-custom {
    margin: 30px 0;
    h5 {
        color: #0c0c0c;
    }
    p {
        color: #0e0e0e;
        font-weight: 200;
    }
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #cfcfcf;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators li.active {
    background-color: red;
}
.login-form-content {
    flex-direction: column;
    flex: 1;
    margin: 2em;

    .form-control {
        border: none;
        border-bottom: 1px solid #d1d1d1;
        border-radius: 0;
        padding-left: 0;
    }

    form {
        margin-right: 20%;
    }
}
.fs-p9 {
    font-size: .9em;
}
.login-form {
    border-radius: 15px;
}

.close-btn {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    right: 1em;
    top: 2em;
    z-index: 100;
}
.quiz-wrapper {
    background-color: #f2f2f2;

    .sidebar {
        background-color: #564d4f;
        position: fixed;
        width: 250px;
        top: 0;
        left: 0;
        height: 100%;

        .profile-tray {
            padding: 3.4em 0;
            color: white;

            img {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                border: 1px solid #777;
                border-radius: 50%;
                display: block;
            }
        }
    }
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #00455e;
    background-color: #f2f2f2;
    border-color: transparent;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
}
.list-group-item-action {
    width: 100%;
    color: #fff;
    text-align: inherit;
}
.fas {
    margin-right: 1em;
}
.fs-small {
    font-size: .8em;
}
.fs-normal {
    font-size: 1.0em;
}
.rounded-box {
    border-radius: 10px;
    box-shadow: 5px 1px 40px 2px rgba(60, 64, 67, 0.05), 2px 1px 12px 1px rgba(60, 64, 67, 0.09);
    background-color: white;
    padding: 1em;
}
.quiz-page {
    margin-left: 250px;
    min-height: 100vh;
    padding: 3em 4em;
    background-color: #f2f2f2;
}
.justify-content-space-between {
    justify-content: space-between;
}
.underline {
    border-bottom: 1px solid #dfdfdf;
}
a:hover {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}
.answer-header-right {
    display: flex;
    align-items: center;

    p {
        margin: 0;
        padding: 0
    }
    .progress {
        width: 200px;
        height: 0.8em;
        margin-left: 1em;
    }
}
.answers-tab {
    padding: 2em 0;
    .answers-list {
        .a-no {
            margin-right: 2em;
            color: #ccc;
            position: absolute;
        }
        p {
            margin-left: 3em;
        }
        .col-md-7 {
            position: relative
        }
        .row {
            margin-bottom: 3em;
        }
    }
}
.how-item {
    position: relative;
    i {
        position: absolute;
    }
    p {
        margin-left: 2em;
    }
}
.showOnMobile {
    display: none;
}
.modal-dialog {
    max-width: 95%;
    width: 70%;
}

@media(max-width: 992px) {
    nav {
        background: #004662;
        color: white !important;
        .navbar-nav .nav-item {
            margin-left: 0em;
        }
    }

    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link {
        color: #f1f1f1;
    }

    .kid-img {
        width: 100%;
    }
    .mid-section {
        flex-direction: column-reverse;
        min-height: auto;
        margin-bottom: 1em;

        .mid-section-right {
            padding: 0;
            margin: 0;
            width: 100%;
            margin-left: 0;
        }
    }

    .quiz-banner {
        position: static;
        margin: 0;
        padding: 0%;
        width: 100%;
    }
    
    .hero-img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .mid-section-summary {
        flex-direction: column;
        padding-top: 2em;
    }
    .banner-padding {
        padding: 1.5em;
    }
    .fit {
        position: relative;
    }
    .showOnMobile {
        display: flex;
    }
    .quiz-wrapper {
        display: flex;
        background-color: #f2f2f2;
    
        .sidebar {
            background-color: #564d4f;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: auto;
            display: none;
    
            .profile-tray {
                padding: 3.4em 0;
                color: white;
    
                img {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    border: 1px solid #777;
                    border-radius: 50%;
                    display: block;
                }
            }
        }
        .quiz-page {
            margin-left: 0px;
            min-height: auto;
            padding: 1em;
            width: 100%;
            background-color: #f2f2f2;
        }
    }
    .mt-10 {
        margin-top: 5em;
    }
    .display-5 {
        font-size: 2.0rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .display-6 {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .mt-5 {
        margin-top: 1em !important;
    }
    .hero-img {
        height: 220px;
        margin-top: -32px;
    }
    .lead1 {
        font-size: 1.45rem;
        font-weight: 300;
    }
    .lead3 {
        font-size: 1.10rem;
        font-weight: 200;
    }
    .lead2 {
        font-size: 1.6rem;
        font-weight: 200;
        .fas {
            width: 50px;
            color: #777;
            margin-right: 1em;
        }
    }
    
    .bold2 {
        font-size: 1.6rem;
        font-weight: 800;
    }
    .gap1 {
        display: block;
        width: 100%;
        height: 100px;
        clear: both;
    }
    .gap3 {
        display: block;
        width: 100%;
        height: 50px;
        clear: both;
    }
    .gap2 {
        display: block;
        width: 100%;
        height: 200px;
        clear: both;
    }
    .question-footer {
        flex-direction: column;
        a {
            width: 100%;
            margin-bottom: 1em;
            text-align: center;
        }
    }
    #nav-tab {
        background-color: white;
        a {
            font-size: .6em;
            flex: 1;
        }
    }
    .login-form {
        bottom: 1em;
        top: 1em;
        left: 1em;
        right: 1em;
        padding: 1em;
    }
    .login-form-content {
        flex-direction: column;
        flex: 1;
        margin: 0.2em;
    
        .form-control {
            border: none;
            border-bottom: 1px solid #d1d1d1;
            border-radius: 0;
            padding-left: 0;
        }
    
        form {
            margin-right: 0%;
        }
    }
    .hideOnMobile {
        display: none !important;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 95%;
        width: 95%;
    }
}